<h1>Listing users</h1>

<div class="row">
  <table class="table table-bordered table-striped table-condendsed span4">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>

    <%= render @users %>

  </table>
</div>

<br/>

<%= link_to 'New User', new_user_path, class: "btn" %>
