<a href="#" class="btn" data-dismiss="modal">Close</a>
<button class="btn btn-primary" id="modal-form-submit">Save</button>
<%= link_to 'Delete Gift', @gift, confirm: 'Are you sure?', method: :delete, class: 'btn btn-warning pull-left' %>


