<a href="#" class="btn" data-dismiss="modal">Close</a>
<button class="btn btn-primary" id="edit_submit">Save</button>
<%= link_to 'Delete Gift', @gift, confirm: 'Are you sure you want to delete gift?', method: :delete, remote: true, class: 'btn btn-warning pull-left' %>


