<h1>Listing gifts</h1>

<table class="table table-bordered table-condensed" id="gifts_table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <!-- The onclick below is just to make safari on iPad work. -->
  <tbody data-toggle="modal" href="#modal" onclick="">
  <%= render @gifts %>
  </tbody>
</table>

<br/>

<button data-toggle="modal" href="#modal" class="btn" action_url="<%= new_gift_path %>">New Gift</button>
