<h1>Listing gifts</h1>

<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Location</th>
    <th>Value</th>
    <th></th>
    <th></th>
  </tr>
  <tbody data-toggle="modal" href="#modal" onclick="">
    <%= render @gifts %>
  </tbody>
</table>

<br/>

<%= link_to 'New Gift', new_gift_path, class: "btn" %>


<%= render :partial => 'modal' %>
