<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Doh! Somebody changed their mind.</h1>

<p>
  <%= @user.name.titleize %> isn't going to get thee <%= @gift.title %> any more.
</p>

<p>
  You can check out all of the goings on here: <%= @url %>
</p>

</body>
</html>