<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>New User!</h1>

<p>
  <%= @user.name.titleize %> has signed up to use your gift registry.
</p>

<p>
  You can check out all of the goings on here: <%= @url %>.
</p>

</body>
</html>