<span id="<%= dom_id(dropbox_image) %>" onclick="" class="clickable">
      <img src="/dropbox/thumbnail/<%= dropbox_image.id %>"/>
    </span>
<%= open_modal_on_click :image, dom_id(dropbox_image), "/dropbox/show/#{dropbox_image.id}" %>
