<span id="<%= dom_id(dropbox_image) %>" onclick="" class="clickable">
      <img src="<%= thumbnail_dropbox_image_path(dropbox_image) %>"/>
    </span>
<%= open_modal_on_click :image, dom_id(dropbox_image), "/dropbox/show/#{dropbox_image.id}" %>
