
<div id="progress" class="progress progress-striped active">
  <div class="bar" style="width: 0%"></div>
</div>

<div id="image_well" class="well">
  <%= render @images %>
</div>

<script>
  $(function () {
    $.ajax('/dropbox/import/0');
  });
</script>
