<div class="modal hide fade static" id="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 id="modal-heading"></h3>
  </div>

  <div class="modal-body"></div>

  <div class="modal-footer">
  </div>

</div>

<script>
  $('#modal').modal({
    backdrop:'static',
    show:false
  });

  $('#modal').on('hidden', function () {
    $('#modal > .modal-header > h3').html("");
    $('#modal > .modal-body').html("");
    $('#modal > .modal-footer').html("");
  })
</script>